    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background-image: url(fondo.jpg);
    }
    
    .contenedor {
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
    }
    
    .fila {
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
        clear: both;
        display: table;
    }
    
    [class*='col-'] {
        float: left;
        padding: 10px;
    }
    /* -------------------------------------
    Estios Header
     ------------------------------------- */
    
    header div img {
        margin: 0 auto;
        text-align: center;
        width: 100px;
    }
    
    header div div#redes div center p {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        color: white;
        background: rgb(167, 163, 163);
        border-radius: 100%;
    }
    
    header div {
        text-align: center;
    }
    /* -------------------------------------
    Seccion 1
    ------------------------------------- */
    
    .card {
        margin: 0 auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 60%;
        border-radius: 5px;
        padding-bottom: 10px;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(194, 6, 6, 0.2);
    }
    
    .card img {
        text-align: center;
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    
    .card-cuerpo {
        background: white;
        border-top: 1px double rgb(167, 163, 163);
        padding: 10px 16px;
    }
    
    .card-cuerpo h4 {
        text-align: center;
    }
    
    .card-cuerpo p {
        padding-top: 5px;
        text-align: center;
    }
    
    #seccion1 h1 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 10px;
        color: white;
    }
    
    #seccion1 h2 {
        text-align: center;
        color: white;
    }
    /* -------------------------------------
    Seccion 2
     ------------------------------------- */
    
    #seccion2 h2 {
        margin-top: 20px;
        text-align: center;
        color: white;
    }
    /* -------------------------------------
        Seccion3
        ------------------------------------- */
    
    #seccion3 div a {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: block;
        background: blue;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        padding: 10px;
    }
    
    #seccion3 div a:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: block;
        background: rgba(0, 225, 255, 1);
        border-radius: 5px;
        color: black;
        height: 40px;
        text-align: center;
        padding: 10px;
    }
    /* -------------------------------------
    footer
     ------------------------------------- */
    
    footer {
        background: rgba(0, 0, 0, 1);
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
    /* The container */
    /* -------------------------------------
    Radio Buttons y checkbox
     ------------------------------------- */
    
    label {
        color: white;
        font-size: 20px;
        float: left;
    }
    
    .radio,
    .label {
        display: inline;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white;
        margin-right: 50px;
    }
    /* Hide the browser's default checkbox */
    
    .radio input,
    .label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    
    .label .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    
    .radio .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    
    .radio:hover input~.checkmark,
    .label:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    
    .radio input:checked~.checkmark,
    .label input:checked~.checkmark {
        background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    
    .radio input:checked~.checkmark:after,
    .label input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    
    .label .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .radio .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    
    form p {
        font-size: 20px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    /* -------------------------------------
    Inputs
     ------------------------------------- */
    
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .boton {
        border-radius: 5px;
        width: 300px;
        background: green;
        box-sizing: border-box;
    }
    
    .boton:hover {
        border-radius: 5px;
        width: 300px;
        background: greenyellow;
        box-sizing: border-box;
    }
    /* -------------------------------------
    Tablas
     ------------------------------------- */
    
    table {
        margin: 30px auto;
        border-collapse: collapse;
        background: #ccc;
        border-spacing: 0;
        width: 80%;
        border: 1px solid #ddd;
    }
    
    th {
        background: #aaa;
    }
    
    th,
    td {
        text-align: left;
        padding: 16px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    h2,
    h3 {
        text-align: center;
        color: white;
    }
    /* -------------------------------------
    lista
     ------------------------------------- */
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    ul li {
        border: 1px solid #ddd;
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
    }
    
    ul li span {
        background: red;
        color: white;
        padding: 5px;
        border-radius: 15px;
        float: right;
    }
    /* -------------------------------------
Patalla de escritorio grande(lg)
------------------------------------- */
    
    @media(min-width: 1200px) {
        .col-lg-12 {
            width: 100%;
            flex: 0 0 auto;
        }
        .col-lg-11 {
            width: 91.66666667%;
            flex: 0 0 auto;
        }
        .col-lg-10 {
            width: 83.33333333%;
            flex: 0 0 auto;
        }
        .col-lg-9 {
            width: 75%;
            flex: 0 0 auto;
        }
        .col-lg-8 {
            width: 66.66666667%;
            flex: 0 0 auto;
        }
        .col-lg-7 {
            width: 58.33333333%;
            flex: 0 0 auto;
        }
        .col-lg-6 {
            width: 50%;
            flex: 0 0 auto;
        }
        .col-lg-5 {
            width: 41.66666667%;
            flex: 0 0 auto;
        }
        .col-lg-4 {
            width: 33.33333333%;
            flex: 0 0 auto;
        }
        .col-lg-3 {
            width: 25%;
            flex: 0 0 auto;
        }
        .col-lg-2 {
            width: 16.66666667%;
            flex: 0 0 auto;
        }
        .col-lg-1 {
            width: 8.33333333%;
            flex: 0 0 auto;
        }
        .col-lg-0 {
            display: none;
        }
    }
    /* -------------------------------------
Patalla de escritorio mediano(md)
------------------------------------- */
    
    @media(max-width: 1199px) and (min-width: 992px) {
        .col-md-12 {
            width: 100%;
            flex: 0 0 auto;
        }
        .col-md-11 {
            width: 91.66666667%;
            flex: 0 0 auto;
        }
        .col-md-10 {
            width: 83.33333333%;
            flex: 0 0 auto;
        }
        .col-md-9 {
            width: 75%;
            flex: 0 0 auto;
        }
        .col-md-8 {
            width: 66.66666667%;
            flex: 0 0 auto;
        }
        .col-md-7 {
            width: 58.33333333%;
            flex: 0 0 auto;
        }
        .col-md-6 {
            width: 50%;
            flex: 0 0 auto;
        }
        .col-md-5 {
            width: 41.66666667%;
            flex: 0 0 auto;
        }
        .col-md-4 {
            width: 33.33333333%;
            flex: 0 0 auto;
        }
        .col-md-3 {
            width: 25%;
            flex: 0 0 auto;
        }
        .col-md-2 {
            width: 16.66666667%;
            flex: 0 0 auto;
        }
        .col-md-1 {
            width: 8.33333333%;
            flex: 0 0 auto;
        }
        .col-md-0 {
            display: none;
        }
    }
    /* -------------------------------------
Patalla de escritorio tables small(sm)
------------------------------------- */
    
    @media(max-width: 991px) and (min-width: 576px) {
        .col-sm-12 {
            width: 100%;
            flex: 0 0 auto;
        }
        .col-sm-11 {
            width: 91.66666667%;
            flex: 0 0 auto;
        }
        .col-sm-10 {
            width: 83.33333333%;
            flex: 0 0 auto;
        }
        .col-sm-9 {
            width: 75%;
            flex: 0 0 auto;
        }
        .col-sm-8 {
            width: 66.66666667%;
            flex: 0 0 auto;
        }
        .col-sm-7 {
            width: 58.33333333%;
            flex: 0 0 auto;
        }
        .col-sm-6 {
            width: 50%;
            flex: 0 0 auto;
        }
        .col-sm-5 {
            width: 41.66666667%;
            flex: 0 0 auto;
        }
        .col-sm-4 {
            width: 33.33333333%;
            flex: 0 0 auto;
        }
        .col-sm-3 {
            width: 25%;
            flex: 0 0 auto;
        }
        .col-sm-2 {
            width: 16.66666667%;
            flex: 0 0 auto;
        }
        .col-sm-1 {
            width: 8.33333333%;
            flex: 0 0 auto;
        }
        .col-sm-0 {
            display: none;
        }
        .label {
            display: block;
        }
    }
    /* -------------------------------------
Patalla de escritorio telefonos(xs)
------------------------------------- */
    
    @media(max-width: 575px) {
        .col-xs-12 {
            width: 100%;
            flex: 0 0 auto;
        }
        .col-xs-11 {
            width: 91.66666667%;
            flex: 0 0 auto;
        }
        .col-xs-10 {
            width: 83.33333333%;
            flex: 0 0 auto;
        }
        .col-xs-9 {
            width: 75%;
            flex: 0 0 auto;
        }
        .col-xs-8 {
            width: 66.66666667%;
            flex: 0 0 auto;
        }
        .col-xs-7 {
            width: 58.33333333%;
            flex: 0 0 auto;
        }
        .col-xs-6 {
            width: 50%;
            flex: 0 0 auto;
        }
        .col-xs-5 {
            width: 41.66666667%;
            flex: 0 0 auto;
        }
        .col-xs-4 {
            width: 33.33333333%;
            flex: 0 0 auto;
        }
        .col-xs-3 {
            width: 25%;
            flex: 0 0 auto;
        }
        .col-xs-2 {
            width: 16.66666667%;
            flex: 0 0 auto;
        }
        .col-xs-1 {
            width: 8.33333333%;
            flex: 0 0 auto;
        }
        .col-xs-0 {
            display: none;
        }
        .label {
            display: block;
        }
    }